.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(25);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {

		}
		&:checked + .checkbox__label:before {
			background: $mainGreen;
			color: #fff;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		transition: all 0.3s;
		&:before {
			content: "\e902";
			font-family: 'icons';
			color: transparent;
			font-size: rem(8);
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: flex-start;
			flex: 0 0 15px;
			width: 15px;
			height: 15px;
			border: 1px solid #a7a9ac;
			border-radius: 2px;
			transition: all 0.3s;
		}
	}
	// .checkbox__text
	&__text {
		text-align: left;
		font-size: rem(16);
		a{
			color: $mainGreen;
			@media (any-hover: hover){
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
